;model_20230612_232038_0
final
model_20230612_232038_1
model_20230612_232038_2
model_20230612_232038_3
Pictures/cars/IMG_20170228_155030.jpg
Pictures/cars/IMG_20170228_173947.jpg
Pictures/cars/IMG_20170228_173955.jpg
Pictures/cars/IMG_20170228_174005.jpg
Pictures/cars/IMG_20170228_174013.jpg
Pictures/cars/IMG_20170228_174020.jpg
Pictures/cars/IMG_20170228_174029.jpg
Pictures/cars/IMG_20170228_174041.jpg
Pictures/cars/IMG_20170228_174102.jpg
Pictures/cars/IMG_20170228_174109.jpg
Pictures/cars/IMG_20170228_174137.jpg
Pictures/cars/IMG_20170228_174146.jpg
Pictures/cars/IMG_20170228_174210.jpg
Pictures/cars/IMG_20170228_174216.jpg
Pictures/cars/IMG_20170228_174223.jpg
Pictures/cars/IMG_20170228_174229.jpg
Pictures/cars/IMG_20170228_174239.jpg
Pictures/cars/IMG_20170228_174249.jpg
Pictures/cars/IMG_20170228_174306.jpg
Pictures/cars/IMG_20170228_174859.jpg
Pictures/cars/IMG_20170228_174907.jpg
Pictures/cars/IMG_20170228_174935.jpg
Pictures/cars/IMG_20170228_174940.jpg
Pictures/cars/IMG_20170228_174953.jpg
Pictures/cars/IMG_20170228_175135.jpg
Pictures/cars/IMG_20170228_175142.jpg
Pictures/cars/IMG_20170228_175151.jpg
Pictures/cars/IMG_20170228_175213.jpg
Pictures/cars/IMG_20170228_175218.jpg
Pictures/cars/IMG_20170228_175225.jpg
Pictures/cars/IMG_20170228_175248.jpg
Pictures/cars/IMG_20170228_175255.jpg
Pictures/cars/IMG_20170228_175302.jpg
Pictures/cars/IMG_20170228_175312.jpg
Pictures/cars/IMG_20170228_175319.jpg
Pictures/cars/IMG_20170228_175325.jpg
Pictures/cars/IMG_20170228_175351.jpg
Pictures/cars/IMG_20170228_175359.jpg
Pictures/cars/IMG_20170228_175405.jpg
Pictures/cars/IMG_20170228_175418.jpg
Pictures/cars/IMG_20170228_175425.jpg
Pictures/cars/IMG_20170228_175430.jpg
Pictures/cars/IMG_20170228_175442.jpg
Pictures/cars/IMG_20170228_175447.jpg
Pictures/cars/IMG_20170228_175454.jpg
Pictures/cars/IMG_20170228_175458.jpg
Pictures/cars/IMG_20170228_175526.jpg
Pictures/cars/IMG_20170228_175530.jpg
Pictures/cars/IMG_20170228_175538.jpg
Pictures/cars/IMG_20170228_175544.jpg
Pictures/cars/IMG_20170228_175554.jpg
Pictures/cars/IMG_20170228_175603.jpg
Pictures/cars/IMG_20170228_175609.jpg
Pictures/cars/IMG_20170228_175658.jpg
Pictures/cars/IMG_20170228_175702.jpg
Pictures/civic/civic.png
Pictures/civic/civic1.jpg
Pictures/civic/civic1.png
Pictures/civic/civic2.jpg
Pictures/civic/civic3.jpg
Pictures/civic/civic4.jpg
Pictures/civic/civic5.jpg
Pictures/civic/civic6.jpg
Pictures/civic/civic7.jpg
Pictures/civic/civic8.jpg
Pictures/civic/civic9.jpg
Pictures/civic/civic10.jpg
Pictures/civic/civic11.JPG
Pictures/civic/civic12.jpg
Pictures/civic/civic13.jpg
Pictures/civic/civic14.jpg
Pictures/civic/civic15.jpg
Pictures/civic/civic16.jpg
Pictures/civic/civic17.jpg
Pictures/civic/civic18.jpg
Pictures/civic/civic19.jpg
Pictures/civic/civic20.jpg
Pictures/civic/civic21.jpg
Pictures/civic/civic22.jpg
Pictures/civic/civic23.jpg
Pictures/civic/civic24.jpg
Pictures/civic/civic25.JPG
Pictures/civic/civic26.jpg
Pictures/civic/civic27.jpg
Pictures/civic/civic28.jpg
Pictures/civic/civic29.jpg
Pictures/civic/civic30.jpg
Pictures/civic/civic31.jpg
Pictures/civic/civic32.jpg
Pictures/civic/civic33.jpg
Pictures/civic/civic34.jpg
Pictures/civic/civic35.jpg
Pictures/civic/civic36.jpg
Pictures/civic/civic37.jpg
Pictures/civic/civic38.jpg
Pictures/civic/civic39.jpg
Pictures/civic/civic40.jpg
Pictures/civic/civic41.jpg
Pictures/civic/civic42.jpg
Pictures/civic/civic43.JPG
Pictures/civic/civic44.jpg
Pictures/civic/civic45.jpg
Pictures/civic/civic46.jpg
Pictures/civic/civic47.jpg
Pictures/civic/civic48.jpg
Pictures/civic/civic49.jpg
Pictures/civic/civic50.jpg
Pictures/civic/civic51.jpg
Pictures/civic/civic52.jpg
Pictures/civic/civic53.jpg
Pictures/civic/civic54.jpg
Pictures/civic/civic55.jpg
Pictures/civic/civic56.jpg
Pictures/civic/civic57.jpg
Pictures/civic/civic58.jpg
Pictures/civic/civic59.jpg
Pictures/civic/civic60.jpg
Pictures/civic/civic61.jpg
Pictures/civic/civic62.jpg
Pictures/civic/civic63.jpg
Pictures/civic/civic64.JPG
Pictures/civic/civic65.jpg
Pictures/civic/civic66.jpg
Pictures/civic/civic67.jpg
Pictures/civic/civic68.jpg
Pictures/civic/civic69.jpg
Pictures/civic/civic70.jpg
Pictures/civic/civic71.jpg
Pictures/civic/civic72.jpg
Pictures/civic/civic73.jpg
Pictures/civic/civic74.jpg
Pictures/civic/civic75.jpg
Pictures/civic/civic76.jpg
Pictures/civic/civic77.jpg
Pictures/civic/civic78.jpg
Pictures/civic/civic79.jpg
Pictures/civic/civic80.jpg
Pictures/civic/civic81.jpg
Pictures/civic/civic82.jpg
Pictures/civic/civic83.jpg
Pictures/civic/civic84.jpg
Pictures/civic/civic85.jpg
Pictures/civic/civic86.jpg
Pictures/civic/civic87.jpg
Pictures/civic/civic88.jpg
Pictures/civic/civic89.jpg
Pictures/civic/civic90.jpg
Pictures/civic/civic91.jpg
Pictures/civic/civic92.jpg
Pictures/civic/civic93.jpg
Pictures/civic/civic94.jpg
Pictures/civic/civic95.jpg
Pictures/civic/civic96.jpg
Pictures/civic/civic97.jpg
Pictures/civic/civic98.jpg
Pictures/civic/civic99.JPG
Pictures/civic/civic100.jpg
Pictures/civic/civic101.jpg
runs/fashion_trainer_20230612_201647/events.out.tfevents.1686583007.DESKTOP-ID92261.9524.0
runs/fashion_trainer_20230612_202029/events.out.tfevents.1686583229.DESKTOP-ID92261.16900.0
runs/fashion_trainer_20230612_202157/events.out.tfevents.1686583317.DESKTOP-ID92261.2040.0
runs/fashion_trainer_20230612_222411/events.out.tfevents.1686590651.DESKTOP-ID92261.4432.0
runs/fashion_trainer_20230612_230056/events.out.tfevents.1686592856.DESKTOP-ID92261.2820.0
runs/fashion_trainer_20230612_230338/events.out.tfevents.1686593018.DESKTOP-ID92261.17068.0
runs/fashion_trainer_20230612_230603/events.out.tfevents.1686593163.DESKTOP-ID92261.14140.0
runs/fashion_trainer_20230612_230727/events.out.tfevents.1686593247.DESKTOP-ID92261.1744.0
runs/fashion_trainer_20230612_231017/events.out.tfevents.1686593417.DESKTOP-ID92261.16500.0
runs/fashion_trainer_20230612_231126/events.out.tfevents.1686593486.DESKTOP-ID92261.10480.0
runs/fashion_trainer_20230612_231155/events.out.tfevents.1686593515.DESKTOP-ID92261.4500.0
runs/fashion_trainer_20230612_231217/events.out.tfevents.1686593537.DESKTOP-ID92261.12892.0
runs/fashion_trainer_20230612_231247/events.out.tfevents.1686593567.DESKTOP-ID92261.1944.0
runs/fashion_trainer_20230612_231340/events.out.tfevents.1686593620.DESKTOP-ID92261.2648.0
runs/fashion_trainer_20230612_231416/events.out.tfevents.1686593656.DESKTOP-ID92261.1408.0
runs/fashion_trainer_20230612_231734/events.out.tfevents.1686593854.DESKTOP-ID92261.16276.0
runs/fashion_trainer_20230612_232038/events.out.tfevents.1686594038.DESKTOP-ID92261.1344.0
runs/fashion_trainer_20230612_232038/Training vs. Validation Loss_Training/events.out.tfevents.1686594115.DESKTOP-ID92261.1344.1
runs/fashion_trainer_20230612_232038/Training vs. Validation Loss_Validation/events.out.tfevents.1686594115.DESKTOP-ID92261.1344.2
